<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Razor</title>
</head>
<body>

    <h1>Here are some delicious foods!</h1>

    @{
        var StringList = new List<string>{
                    "Apple Pie",
                    "Burritos",
                    "Clams Casino",
                    "Donuts",
                    "Cheese"
                };
        
        foreach(var word in StringList)
        {
            if(word[0] == 'C')
            {
                <p style="color:red">@word</p>
            }
            else
            {
                <p>@word</p>
            }
        }
    }
    
</body>
</html>